.pie__white_radient {
    border-radius: 100%;
 	text-align: center;
 	margin:0 auto;
}

.pie__white_radient_dropshadow {
    background: radial-gradient(circle, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
    border-radius: 100%;
 	text-align: center;
 	margin:0 auto;
}

.pie__white_radient2 {
    //background: radial-gradient(circle, rgba(122,122,122,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    background: red;
}

/* svg text stuff */
@font-face {
  font-family: FranklinGothic-Heavy;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/Franklin_Gothic_Heavy_Regular.woff);
}